<h4>Forms</h4>

<div class="conttainer">
  <div class="row">
    <div class="col-12 d-flex">
      <a routerLink="">
        <button class="btn btn-primary "  >
        Template-Driven Form
      </button> </a>
      <!-- <button class="btn btn-lg btn-outline-primary" (click)="open(content)">
        Template-Drven Form
      </button> -->
      
    &nbsp;

      <a routerLink="reactive-forms">
        <button class="btn btn-primary "  >Reactive Form</button></a>


        <!-- <a routerLink="edit-table">
          <button class="btn btn-primary "  >Show Data</button></a> -->
        <!-- <button class="btn btn-lg btn-outline-primary" (click)="open(content)">
          Reactive Forms
        </button> -->
    </div>
  </div>
</div>


<router-outlet></router-outlet>

<br><br>
<app-edit-table></app-edit-table>

