form{
    width: 70%;
}

.form-group{
    margin-bottom: 1px;
}
.col-6{
    width: 72%;
}
.mat-horizontal-stepper-header{
    display: block;
}

/* .mat-step-icon{
    display: none;
} */

.container{
    margin-top: 30px;
}
input.ng-invalid.ng-touched{
    border: 1px solid red;
}
select.ng-invalid.ng-touched{
    border: 1px solid red;
}
textarea.ng-invalid.ng-touched{
    border: 1px solid red;
}
.main{
    width:800px;
}
.phnno input{
    width: 60px;
    display: inline;
}